html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto !important; /

}

.root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#container {
    flex: 1;
    padding: 2em;
    overflow-y: auto; /* Enable scrolling */
}

.footer {
    width: 100%;
    background-color: #f8f9fa;
    padding: 1em 0;
    text-align: center;
    margin-top: auto; /* Push footer to the bottom */
}
.footer-text {
    font-size: 0.8rem !important;  /* 원하는 크기로 조정 */
   color:#212529BF;
   margin: 0 !important; /* 모든 여백 제거 */
    padding: 0 !important; 
}
.no-underline {
    text-decoration: none; /* 밑줄 제거 */
}